/* vertical  */
.Veritical_wave {
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-5px);
  }

  100% {
    transform: translatey(0px);
  }
}

/* for header  */

.card {
  margin: 0 auto;
  padding: 1em;
  background: rgba(0, 0, 0, 0.01);
  text-align: center;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 95%;
  background-image: conic-gradient(from var(--angle),
      transparent,
      transparent,
      #00b0c7);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 5rem;
  animation: 6s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

/* for  counter labels */

.card-label {
  margin: 0 auto;
  padding: 1em;
  background: rgba(0, 0, 0, 0.01);
  text-align: center;
  position: relative;
}

.card-label::after,
.card-label::before {
  content: "";
  position: absolute;
  height: 89.5%;
  width: 98.3%;
  background-image: conic-gradient(from var(--angle),
      transparent 50%,
      
      #00b0c7,
      #e30ce727);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px 0 3px 0;
  border-radius: 1rem;
  animation: 6s spin linear infinite;
}

/* for slots */

.card-label-slots {
  position: relative;
}

.card-label-slots::after,
.card-label-slots::before {
  content: "";
  position: absolute;
  height: 101.5%;
  width: 101.5%;
  background-image: conic-gradient(from var(--angle),
      transparent 50%,
      #00b0c7,
      #00b0c7);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 1.6rem;
  animation: 6s spin linear infinite;
}

/* sloot2  */

.card-label-slots2 {
  position: relative;
}

.card-label-slots2::after,
.card-label-slots2::before {
  content: "";
  position: absolute;
  height: 105%;
  width: 101%;
  background-image: conic-gradient(from var(--angle),
      transparent 50%,
      #00b0c7,
      #e30ce727);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px 0 3px 0;
  border-radius: 1rem;
  animation: 6s spin linear infinite;
}

/* recent transitins  */

.selectedbtn {
  text-align: center;
  position: relative;
}

.selectedbtn::after,
.selectedbtn::before {
  content: "";
  position: absolute;
  height: 106%;
  width: 102%;
  background-image: conic-gradient(from var(--angle),
      transparent 50%,
      #00b0c7,
      #e30ce727);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px 0 3px 0;
  border-radius: 0.5rem;
  animation: 6s spin linear infinite;
}

/* ready for vector  */

.vector {
  text-align: center;
  position: relative;


}

.vector::after,
.vector::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 100.6%;
  background-image: conic-gradient(from var(--angle),
      transparent 50%,
      #00B0C7,
      #00766D);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px 0 3px 0;
  border-radius: 1rem;
  animation: 6s spin linear infinite;
}
.vector.aboutbox::after, .vector.aboutbox::before{
  width: 102%;
}

.widgets.vector::after,
.widgets.vector::before {
  border-radius: 0px;
  background-image: conic-gradient(from var(--angle),
      transparent 50%,
      #00b0c7,
      #01B0C7);
      backdrop-filter: blur(90.84970092773438px);

box-shadow: 0px 3px 2px 0px #00B0C7;

}

.details-slot.vector::after,
.details-slot.vector::before {
  width: 106%;
  height: 106%;
  border-radius: 0.5rem;
}

/* table  */

.details-slot.vector::after,
.details-slot.vector::before {
  width: 102%;
  height: 102%;
  border-radius: 1rem;
}

/* mobile responsive animation  */
@media (max-width: 680px) {
  .mblbtn.card::before {
    height: 110%;
    width: 105%;
  }

  .card-label::after,
  .card-label::before {
    height: 80%;
    width: 94%;
  }

  .card-label-slots::before,
  .card-label-slots::after {
    display: none;
  }

  .selected-slot {
    padding: 0.4rem 0.71rem;
  }

  .card-label-slots2::after,
  .card-label-slots2::before {
    width: 102%;
    height: 103%;
  }
  .vector::after,
.vector::before {
  content: "";
  position: absolute;
  height: 102%;
  width: 101.8%;
}

  .selectedbtn::after,
  .selectedbtn::before {
    border-radius: 0.5rem;
  }

  .transaction-table .vector::after,
  .vector::before {
    height: 101%;
    width: 102%;
  }

  .details-slot.vector::after,
  .details-slot.vector::before {
    width: 106%;
    height: 106%;
    border-radius: 0.5rem;
  }
}