


.herotext {
  text-shadow: -2px 2px #FF0000;
}

.green-radient {
  position: absolute;

  background: rgba(0, 118, 109, 1);


  backdrop-filter: blur(593.0999755859375px);
  box-shadow: -18px -89px 502px 102px rgba(0, 118, 109, 1);

}